@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma+2:600, 700");
*,*:before,*:after{
    box-sizing: border-box;
  }
html{
    font-size: 16px;
}
body{
    font-family:'Noto Sans TC';
    min-height: 100vh;
    background: #eee;
    display: flex;
    color: #333;
    background-image: linear-gradient(
        174deg,
        #ffd370 2%,
        #ffd370 46%,
        #ffffff 46%,
        #ffffff 100%,
        #e8e8e8 100% 
      );
       letter-spacing: 0.07em;
}
h1{
    font-family: "Baloo Tamma 2";
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-align: center;
    margin-bottom: 1.6rem;
}
.container{
    margin: 3rem auto 0 auto;
    width: 500px;
}
.input{
    width: 100%;
    height: 3rem;
    background: #fff;
    display: flex;
    border-radius: 10px;
    padding: 4px 4px 4px 1rem;
}
.inputbox{
    outline: 0;
    width: 100%;
    border: 0;
    font-size: 1.3rem;
    &::placeholder{
        font-size: 1rem;
        color: #9F9A91;
    }
}
.addbtn{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;  
    font-size: 1.5rem;
    background: #333333;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}