@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma+2:600, 700");
*,*:before,*:after{
    box-sizing: border-box;
  }
html{
    font-size: 16px;
}
body{
    font-family:'Noto Sans TC';
    min-height: 100vh;
    background: #eee;
    display: flex;
    color: #333;
    background-image: linear-gradient(
        174deg,
        #ffd370 2%,
        #ffd370 46%,
        #ffffff 46%,
        #ffffff 100%,
        #e8e8e8 100% 
      );
       letter-spacing: 0.07em;
}
h1{
    font-family: "Baloo Tamma 2";
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-align: center;
    margin-bottom: 1.6rem;
}
.container{
    margin: 3rem auto 0 auto;
    width: 500px;
}
.input{
    width: 100%;
    height: 3rem;
    background: #fff;
    display: flex;
    border-radius: 10px;
    padding: 4px 4px 4px 1rem;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
}
.inputbox{
    outline: 0;
    width: 100%;
    border: 0;
    font-size: 1.3rem;
}
.inputbox::placeholder{
    font-size: 1rem;
    color: #9F9A91;
}
.addbtn{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;  
    font-size: 1.5rem;
    background: #333333;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}
.addbtn:hover{
    font-size: 1.8rem;
}
.content{
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    width: 100%;
    margin-top: 8px;
    border-radius: 10px;
}
.tab{
    height: 51.5px;
}
.tabname{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    height: 100%;
}
.tabname li{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #EFEFEF;
    cursor: pointer;
}
.tabname li:hover{
    color: #333333;
}

.tabname .tabact{
    color: #333333;
    border-bottom: 2px solid #333333;
}
.tabbtn{
    color:  #9F9A91;
}
.list{
    position: relative;
}
.checkbox{
    position: relative;
    width: 90%;
    user-select: none;
    display: block;
    cursor: pointer;
    margin-left: 15px;
    padding-left: 22px;
}
.list-cont{
    display: block;
    padding-left: 1rem;
    margin: 0 15px 0 15px;
    line-height: 4rem;
    border-bottom: 1px solid  #EFEFEF;
}
.checkbox input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}
.list-cont::before{
    content: "";
    position: absolute;
    left: 14px;
    top:23px;
    width: 20px;
    height: 20px;
    border: 1px solid #333333;
    border-radius: 5px;
    transition: 0.2s ease;
    transform: scale(1);
}
.list-cont::after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #FFD370;
    left: 19px;
    top: 22px;
    width: 0%;
    height: 17px;
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.3s ease;
}
.check-r::after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #FFD370;
    left: 14.2px;
    top: 19.2px;
    width: 17px;
    height: 17px;
    transform: rotate(312deg);
    opacity: 0;
    transition: 0.4s ease;
    transition-delay: 0.13s;
}
.checkbox input:checked~.list-cont{
    text-decoration: line-through;
    color: #9f9a91;
}
.checkbox input:checked~.list-cont::before{
    border-color: transparent;
    transform: scale(0);
}
.checkbox input:checked~.list-cont::after{
    opacity: 1;
    width: 10px;
}
.checkbox input:checked~.check-r::after{
    opacity: 1;
    width: 14px;
}
.checkbox input:not(:checked)~.check-r::after{
    transition-delay: 0s;
}
.delete{
    text-decoration: none;
    opacity: 0;
    display: block;
    background-image: url("https://i.imgur.com/7Q4RjFx.jpg");
    background-size: contain;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 25px;
    right: 0px;
}
.checkbox:hover .delete{
    opacity: 1;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    font-size: 0.8rem;
}
.footer .f-not-act{
    color: #9F9A91;
}